* {
	box-sizing: border-box;
}

body{
	
	background-image: url("background.jpg");
}

#gameInstructions{
	width: 600px;
	height: 260px;
	position: relative;
	top:9px;
	left: 65px;
	border-style: solid;
	border-width: 5px;
	font-size: 17px;
	line-height: 1.0;
	padding: 10px;
	font-family: "Arial", cursive, sans-serif;
	background-color: beige;
	;

}
#numberRand{
	position: relative;
	top: 30px;
	left: 30px;
	width: 110px;
	height: 0px;
	border-style: solid;
	border-width: 3px;
	font-size: 50px;
	padding: 36px;
	background-color: ;

}
#playerscore{
	position: relative;
	top: -27px;
	left: 99px;
	width: 110px;
	height: 0px;
	border-style: solid;
	border-width: 3px;
	font-size: 40px;
	padding: 36px;
	background-color: cyan;
}
#losses{
	position:relative;
	top: -105px;
	left: 555px;
	background-color: darkkhaki;
	width:110px;
	height:23px;
	border-style: solid;
	border-width: 3px
}
#wins{
	position:relative;
	top:-82px;
	left:336px;
	background-color: darkkhaki;
	width:110px;
	height:23px;
	border-style: solid;
	border-width: 3px


}

#red{
	
	position: relative;
	top: -9px;
	left: 5px;
	margin: 10px;
	width: 45px;
	height: 80px;
	display: inline-block;

}

#blue{
	position: relative;
	top: -21px;
	left: 5px;
	
	margin: 10px;
	width: 45px;
	height: 80px;
	display: inline-block;

}
#yellow{
	position: relative;
	top: -16px;
	left: 5px;
	
	margin: 10px;
	width: 45px;
	height: 80px;
	display: inline-block;

}
#green{
	position: relative;
	top: -12px;
	left: 5px;
	
	margin: 10px;
	width: 45px;
	height: 80px;
	display: inline-block;

}
.crystals{
	height: 111px;

	position: relative;
	top: -26px;
	left: 20px;

}
h1{
	font-family: "UnifrakturCook", cursive;
	position: relative;
	top: 2px;
	left: 199px;
	background-color: brown;
	font-size: 30px;
	width: 300px;
	height: 50px;
}
#target{
	position:relative;
	top:46px;
	left:101px;
	font-family: "UnifrakturCook", cursive, sans-serif;
	background-color: darkslategrey;
	color: white;
	font-size: 20px;
	width: 110px;
	height: 25px;
}
#announce{

	position:relative;
	top:-127px;
	left:101px;
	font-family: "UnifrakturCook", cursive, sans-serif;
	background-color: purple;
	font-size: 20px;
	width: 110px;
	height: 25px;
	color: white;
}
#numberRand {
	position:relative;
	top:46px;
	left:101px;
	font-family: "Arial", cursive, sans-serif;
	background-color: lightgrey;
	font-size: 33px;
	width: 100px;
	height: 20px;
}
#yourscore{
	position:relative;
	top:-32px;
	left:99px;
	font-family: "UnifrakturCook", cursive, sans-serif;
	background-color: peru;
	font-size: 20px;
	width: 110px;
	height: 29px;
}
/*.clear{
	height: 30px;
}*/

	
}